@model QuitSmoking.Repositories.HoangNV.Models.PlanQuitMethodHoangNv;

@{
    ViewData["Title"] = "Create";
    var planId = ViewBag.PlanId;
    var methods = ViewBag.QuitMethod;
    
}

<h1>Create</h1>

<h4>PlanQuitMethodHoangNv</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                
               <input type="hidden" name="CreatePlanQuitSmokingHoangNvid" value="@ViewBag.PlanId" />
            </div>

            <div class="form-group">
                <label asp-for="QuitMethodHoangNvid" class="control-label"></label>
             <select asp-for="QuitMethodHoangNvid" class="form-control">
              @foreach (var method in methods)
                {
                   <option value="@method.QuitMethodHoangNvid">@method.MethodName</option>
                }
               </select>
                <span asp-validation-for="QuitMethodHoangNvid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" type="date" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate"  type="date" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
              
                <input asp-for=IsSuccessful type="hidden" value="false" class="form-control" />
            
            </div>
            <div class="form-group">
                <label asp-for="UserRating" class="control-label"></label>
                <input asp-for="UserRating" class="form-control" />
                <span asp-validation-for="UserRating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserNotes" class="control-label"></label>
                <input asp-for="UserNotes" class="form-control" />
                <span asp-validation-for="UserNotes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
