
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="method-table">
    <thead>
        <tr>
            <th>Method Name</th>
            <th>Description</th>
            <th>Effectiveness</th>
            <th>Difficulty</th>
            <th>Recommended Duration</th>
            <th>Is Active</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="./js/index.js"></script>
